#VsCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
# JPEG
*.jpg
*.jpeg
*.jpe
# Portable Network Graphics
*.png

# Password
password.txt